<link rel="alternate" hreflang="it" href="{{ '/gruppi/' | absolute_url }}">
<link rel="alternate" hreflang="en" href="{{ '/gruppi/index.en.html' | absolute_url }}">
<link rel="alternate" hreflang="de" href="{{ '/gruppi/index.de.html' | absolute_url }}">
<link rel="alternate" hreflang="es" href="{{ '/gruppi/index.es.html' | absolute_url }}">
<link rel="alternate" hreflang="fr" href="{{ '/gruppi/index.fr.html' | absolute_url }}">
<link rel="alternate" hreflang="pt" href="{{ '/gruppi/index.pt.html' | absolute_url }}">
<link rel="alternate" hreflang="ru" href="{{ '/gruppi/index.ru.html' | absolute_url }}">
<link rel="alternate" hreflang="zh" href="{{ '/gruppi/index.zh.html' | absolute_url }}">
<link rel="alternate" hreflang="hu" href="{{ '/gruppi/index.hu.html' | absolute_url }}">
<link rel="alternate" hreflang="lmo" href="{{ '/gruppi/index.lmo.html' | absolute_url }}">
<link rel="alternate" hreflang="x-default" href="{{ '/gruppi/' | absolute_url }}">
