<link rel="alternate" hreflang="it" href="{{ '/' | absolute_url }}">
<link rel="alternate" hreflang="en" href="{{ '/index.en.html' | absolute_url }}">
<link rel="alternate" hreflang="de" href="{{ '/index.de.html' | absolute_url }}">
<link rel="alternate" hreflang="es" href="{{ '/index.es.html' | absolute_url }}">
<link rel="alternate" hreflang="fr" href="{{ '/index.fr.html' | absolute_url }}">
<link rel="alternate" hreflang="pt" href="{{ '/index.pt.html' | absolute_url }}">
<link rel="alternate" hreflang="ru" href="{{ '/index.ru.html' | absolute_url }}">
<link rel="alternate" hreflang="zh" href="{{ '/index.zh.html' | absolute_url }}">
<link rel="alternate" hreflang="hu" href="{{ '/index.hu.html' | absolute_url }}">
<link rel="alternate" hreflang="lmo" href="{{ '/index.lmo.html' | absolute_url }}">
<link rel="alternate" hreflang="x-default" href="{{ '/' | absolute_url }}">
